<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Person Management</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<a href="/">Return</a>

	<h3>Person contacts</h3>
	<form action="#" th:action="@{/contacts/person}" th:object="${person}" method="post">
		<p>Name: <input type="text" th:field="*{personName}" /></p>
		<p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
	</form>

	<h3>Create Person</h3>
	<form action="#" th:action="@{/people}" th:object="${person}" method="post">
		<p>Name: <input type="text" th:field="*{personName}" /></p>
		<p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
	</form>

	<h3>Remove Person</h3>
	<form action="#" th:action="@{/people/remove}" th:object="${person}" method="post">
		<p>Name: <input type="text" th:field="*{personName}" /></p>
		<p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
	</form>

	<h3>Persons in PhoneBook</h3>
	<table>
		<th>Name</th>
		<tr th:each="person: ${persons}">
			<td th:text="${person.personName}">Name</td>
		</tr>
	</table>
	<img class="img-responsive" src="../static/fenixedu.svg" th:src="@{/fenixedu.svg}"/>
</body>
</html>
